* {
    font-family: 'Philosopher', sans-serif;
    background-color: #FAF7F0;
}

.nav {
    color:#FAF7F0;
    background: #98A8F8;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1 {
    color: aliceblue;
    background-color: cadetblue;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    color:cornflowerblue;
    background-color: #CDFCF6;
    display: flex;
    justify-content: center;
    align-items: center;
}