* {
    font-family: 'Philosopher', sans-serif;
}

.nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(gainsboro , lightblue);
}

h1 {
    color: aliceblue;
    background-color: cadetblue;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    color:cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}